{% extends 'base_nextstep.html' %}
{% load static %}

{% block content %}
<!-- Header Page -->
    <section class="py-20 bg-marine text-white text-center">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-4xl md:text-5xl font-bold mb-6">{{ page_settings.title|default:"Mentions Légales" }}</h1>
            <div class="w-16 h-1 bg-gold mx-auto mb-6"></div>
        </div>
    </section>

    <!-- Mentions Légales Content -->
    <section class="py-20 bg-white">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 prose prose-lg prose-blue text-gray-700">
            {{ page_settings.content|safe|default:"Contenu des mentions légales" }}
        </div>
    </section>
{% endblock %}

{% block extra_js %}

<script>
tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        marine: '#071D59',
                        blue: '#1767D3',
                        gold: '#F2B21B',
                        light: '#F5F7FA',
                    },
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    }
                }
            }
        }
</script>

{% endblock %}

